/* ################################### *

    ~ Developed By: Emil Barranco 
    ~ Table of Content:
        - Container

* ################################### */

/*  Variables   */
:root {
  --main: #212121;
  --sec: #f2f2f2;
  --alt: #d7dbdd;
}

/*  Fonts  */

@font-face {
  font-family: "Jost";
  src: url("../assets/Jost.ttf");
}

/*  Global Styling  */
* {
  box-sizing: border-box;
  overflow-x: hidden !important;
  transition: all 0.3s ease 0s;
}

html {
  height: 100%;
}

body {
  font-family: "Jost";
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../assets/Background.jpg"); /* Photo by Z S on Unsplash */
}

.Container {
  margin: auto;
  text-align: center;
  height: 100%;
}

h1 {
  font-size: 3.5rem;
  color: #fff;
}
