/* ################################### *

    ~ Developed By: Emil Barranco 
    ~ Table of Content:
        - Variables
        - Fonts
        - Global Styling
        - Header
        - Form
        - Results
        - Media Queries

* ################################### */

/*  Variables   */
:root {
  --main: #212121;
  --sec: #899996;
  --alt: #d7dbdd;
}

/*  Fonts  */

@font-face {
  font-family: "Jost";
  src: url("../assets/Jost.ttf");
}

/*  Global Styling  */
* {
  box-sizing: border-box;
  overflow-x: hidden !important;
  transition: all 0.3s ease 0s;
}

html {
  height: 100%;
}

body {
  font-family: "Jost";
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-image: url("../assets/Background.jpg"); /* Photo by Z S on Unsplash */
}

.Container {
  margin: auto;
  text-align: center;
  height: 100%;
}

/* Header Styling */

h1 {
  font-size: 3.5rem;
  color: #fff;
}

h2 {
  font-size: 2rem;
  color: #f5f5f5;
}

hr {
  width: 200px;
  border: 1px solid var(--main);
}

/* Form Styling */

.Input {
  padding: 1.1rem;
  border: none;
  margin: 1rem;
  font-size: 1.2rem;
  width: 20rem;
  border-radius: 5px;
  font-family: "Jost";
}

.Button {
  padding: 1rem;
  border: none;
  margin: 2rem 0;
  font-size: 1.1rem;
  color: var(--alt);
  border-radius: 5px;
  background-color: var(--main);
}

.helper {
  color: #f3f3f3;
}

/* Results Styling */

.time {
  background-color: var(--main);
  border-radius: 5px;
  font-size: 1.5rem;
  width: fit-content;
  margin: 2rem auto;
  padding: 1rem;
  color: var(--alt);
}

.Date {
  width: 100%;
  margin: auto;
  padding: 2rem;
  color: var(--main);
  border-radius: 10px;
}

.Details {
  display: flex;
  margin: 0 20rem;
  justify-content: space-between;
}

/* mobile styles */

@media screen and (max-width: 420px) {
  .Title {
    margin: 1rem;
  }

  .Dates {
    display: block;
    margin: 3rem 2rem;
  }

  .Date {
    margin: auto;
  }
}
